body {
    font-family: "Roboto";
    color: #434455;
    background-color: #ffffff;
}
.header {
    background-color: #ffffff;
}
.header-logo {
    font-family: "Raleway";
    /* line-height: 21px; */
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}
.header-logo-studio {
    color: #2E2F42;
}
.header-menu-list {
   list-style-type: none;
}
.header-menu-link {
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.header-menu-link:hover
.header-menu-link:focus {
    color: #4D5AE5;
}
.contacts-list {
   list-style-type: none;
}
.contacts-list-link {
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}
.contacts-list-link:hover
.contacts-list-link:focus {
    color: #4D5AE5;
}
.hero {
    background-color: #2E2F42;
}
.hero-title {
    /* line-height: 60px; */
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}
.hero-btn {
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    color:#ffffff;
    background-color: #4D5AE5;
    
}
.features {
    background-color: #ffffff;
}
.features-list {
   list-style-type: none;
}
.feature-subtitle {
    font-weight: 500;
    font-size: 20px;
    /* line-height: 24px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.feature-description {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    /* line-height: 40px; */
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}
.team-list {
    list-style-type: none;
}
.team-item {
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-images {
    width: 264px;
    height: 260px;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    /* line-height: 24px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.footer {
    background-color: #2E2F42;
}

.footer-logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    /* line-height: 21px; */
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}

.footer-logo-studio {
    color: #ffffff;
}

.footer-text {
    font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
}